@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
  background: black
}
.bg-secondary{
  background: rgb(51 , 51, 51)
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-600 w-full h-1/4;
}

.mobile-nav  li{
  @apply w-full h-full text-center border-b-2;
}

.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 md:text-2xl font-light  py-12 bg-gray-500 opacity-0 duration-700 hover:opacity-100 rounded-3xl;
  
}

body{
  @apply bg-gradient-to-b  from-gray-800 to-black;
}

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.typing-container {
  color:"white";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; /* Ensures text doesn't overflow */
  border-right: 3px solid white; /* Makes the border invisible */
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}